/Build/Behat
/Build/PhpCodesniffer
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Configuration/README
/Configuration/**/*.example
/Configuration/Development/*
!/Configuration/Development/Docker
!/Configuration/Development/ddev
/Configuration/Production/*
/Configuration/Testing/*
/Custom/
/Data/
/Packages/
/Web/
/bin/
/Readme.txt
/Upgrading.txt
/Readme.rst
/Upgrading.rst
/flow
/flow.bat

# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"
node_modules/

DistributionPackages/*/Resources/Private/**/*.css.fusion
DistributionPackages/*/Resources/Private/**/*.css.json
DistributionPackages/*/Resources/Private/**/*.js.fusion
DistributionPackages/*/Resources/Public/JavaScript/
DistributionPackages/*/Resources/Public/Styles/
.build/

.idea
.vscode

custom.makefile
docker-compose.override.y*ml
