version: '3.6'
services:
  webserver:
    ports:
      - "${PORT_NGINX}:${PORT_NGINX}"

  mariadb:
    ports:
      - "${PORT_MARIADB}:${PORT_MARIADB}"

  mailhog:
    ports:
      - "${PORT_MAILHOG_WEB_UI_PORT}:${PORT_MAILHOG_WEB_UI_PORT}"

  elasticsearch:
    ports:
      - "${PORT_ELASTICSEARCH}:${PORT_ELASTICSEARCH}"