parameters:
    level: 8
    paths:
        - DistributionPackages
    excludePaths:
        analyse:
            - DistributionPackages/*/Components/**/*.php
    ignoreErrors:
        -
            identifier: property.uninitializedReadonly
            path: DistributionPackages/*/NodeTypes/**/*.php
