/commands/*/*.example
/commands/*/README.txt
/commands/host/launch
/commands/web/xdebug
/commands/db/mysql
/homeadditions/*.example
/homeadditions/README.txt
/import.yaml
/.ddev-docker-compose-base.yaml
/.ddev-docker-compose-full.yaml
/docker-compose.yaml
/db_snapshots
/sequelpro.spf
/import-db
/config.*.y*ml
/.webimageBuild
/.dbimageBuild
/.sshimageBuild
/.webimageExtra
/.dbimageExtra
/*-build/Dockerfile.example
.global_commands/
.homeadditions/
apache/
commands/.gitattributes
commands/web/live
nginx_full/
/docker-compose.custom.yaml
